.about__button {
  border: 2px solid $smoky-black;
  margin: 2rem 0;
  padding: 0.5rem 2rem;
  background-color: $white;
  color: $smoky-black;
  &:hover {
    border: 2px solid $quick-silver;
    color: $smoky-black;
  }
  &:focus {
    border: 2px solid $quick-silver;
    color: $quick-silver;
  }
}
