h1{
  font-family: $Old-Standard;
  color: $smoky-black;
  font-weight: $bold;
  font-size: $xxx-large;
}

h2{
  font-family: $Old-Standard;
  color: $white;
  font-weight: $bold;
  font-size: $xx-large;
}

h3{
  font-family: $Old-Standard;
  background-color: $smoky-black;
  color: $white;
  font-weight: $regular;
  font-size: $medium;
}

h4{
  font-family: $Old-Standard;
  color: $smoky-black;
  font-weight: $bold;
  font-size: $x-large;
}

h5{
  font-family: $Raleway;
  color: $smoky-black;
  font-weight: $regular;
  font-size: $medium;
}

h6{
  font-family: $Raleway;
  color: $granite-gray;
  font-weight: $regular;
  font-size: $small;
}

p {
  font-family: $Raleway;
  font-weight: $regular;
  font-size: $medium;
}
