* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Old Standard TT", serif;
  color: #0C0910;
  font-weight: 700;
  font-size: 50px;
}

h2 {
  font-family: "Old Standard TT", serif;
  color: #FFF;
  font-weight: 700;
  font-size: 30px;
}

h3 {
  font-family: "Old Standard TT", serif;
  background-color: #0C0910;
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
}

h4 {
  font-family: "Old Standard TT", serif;
  color: #0C0910;
  font-weight: 700;
  font-size: 20px;
}

h5 {
  font-family: "Raleway", sans-serif;
  color: #0C0910;
  font-weight: 400;
  font-size: 16px;
}

h6 {
  font-family: "Raleway", sans-serif;
  color: #646266;
  font-weight: 400;
  font-size: 14px;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media only screen and (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.navigation {
  position: relative;
  height: 15vh;
  background-color: #FFF;
  justify-content: flex-end;
}

.navigation__logo img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

.collapsible {
  text-align: right;
}
.collapsible label {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1.5em;
  font-size: 1.8rem;
}
.collapsible label i {
  cursor: pointer;
}

#menu {
  display: block;
}

input {
  visibility: hidden;
}

.navigation__container {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .navigation__container {
  max-height: 100%;
  display: block;
  max-height: auto;
}

.navigation__list {
  list-style-type: none;
  background-color: #FFF;
}

.navigation__item a {
  display: block;
  text-align: left;
  padding: 0.5em 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #0C0910;
  text-align: right;
}
.navigation__item a:hover {
  color: #646266;
}

@media only screen and (min-width: 992px) {
  .navigation__list {
    display: block;
  }

  .collapsible label {
    display: none;
  }

  .navigation__container {
    max-height: 100%;
    padding: 0.5em 3em 0.5em 0;
    overflow: visible;
  }

  .navigation__list {
    display: flex;
    justify-content: flex-end;
    margin: inherit;
    padding: inherit;
  }

  .navigation__item a {
    padding: 0.5em 1em;
    font-size: 1rem;
    font-weight: 400;
  }
}
.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media only screen and (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.col {
  margin: 0;
}

.featured {
  height: 85vh;
  overflow: hidden;
  background-image: url(../img/main-photo-lg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
}

.featured-sm {
  display: grid;
}

@media (min-width: 1200px) {
  .featured {
    display: grid;
  }

  .featured-sm {
    display: none;
  }
}
.about, .newsletter {
  padding: 2.5rem 5rem 2.5rem 2.5rem;
}

.about {
  color: #0C0910;
  height: 60vh;
}

.newsletter {
  background-color: #0C0910;
  color: #FFF;
  position: relative;
  height: 25vh;
}

.newsletter__form {
  padding-top: 1rem;
}
.newsletter__form input {
  margin-top: 0.5rem;
  width: 90%;
  padding: 0.2rem;
  visibility: visible;
}

.suscribe {
  position: absolute;
  width: 8%;
  height: 100%;
  background-color: #FFF;
  top: 0;
  right: 0;
  padding-right: 0.5em;
  /* vertical writing-mode */
  writing-mode: vertical-rl;
}
.suscribe h4 {
  text-align: center;
  color: #0C0910;
}

.about__button {
  border: 2px solid #0C0910;
  margin: 2rem 0;
  padding: 0.5rem 2rem;
  background-color: #FFF;
  color: #0C0910;
}
.about__button:hover {
  border: 2px solid #A6A5A8;
  color: #0C0910;
}
.about__button:focus {
  border: 2px solid #A6A5A8;
  color: #A6A5A8;
}

/*# sourceMappingURL=main.css.map */
